<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">

	<select id="getList" resultType="org.zerock.domain.BoardVO">
	<![CDATA[
	select * from tbl_board where board_no >0
	]]>
	</select>
	
	<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
	<![CDATA[
	select 
		@rownu:=@rownum+1 as rn,
		t.board_no, t.board_title, t.board_content, t.board_writer, t.board_regdate, t.board_updatedate
	from tbl_board t, (select @rownum:=0) rn
	limit #{amount} offset (#{pageNum}-1) * #{amount}
	]]>
	
	</select>

	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from tbl_board where
		board_no = #{board_no}
	</select>

	<insert id="insert">
		insert into tbl_board (board_no, board_title,
		board_content, board_writer)
		values ((select nextval('Test') From
		dual), #{board_title}, #{board_content}, #{board_writer})
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="board_no" order="BEFORE"
			resultType="long">
			select nextval('Test') From dual
		</selectKey>

		insert into tbl_board(board_no, board_title, board_content,
		board_writer)
		values(#{board_no}, #{board_title}, #{board_content}, #{board_writer})
	</insert>

	<delete id="delete">
		delete from tbl_board where board_no = #{board_no}
	</delete>
	
	<update id="update">
		update tbl_board
		set board_title = #{board_title}
		, board_content = #{board_content}
		, board_writer = #{board_writer}
		, board_updatedate = now()
		where board_no = #{board_no}	
	</update>

</mapper>